In [36]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'2.3.1'

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [9]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [6]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [8]:
df.isna().any()

engine_displacement    False
num_cylinders           True
horsepower              True
vehicle_weight         False
acceleration            True
model_year             False
origin                 False
fuel_type              False
drivetrain             False
num_doors               True
fuel_efficiency_mpg    False
dtype: bool

In [12]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [13]:
#find the median of horsepower
df['horsepower'].median()

np.float64(149.0)

In [14]:
#calculate the most frequent value of the same `horsepower` column.
df['horsepower'].mode()[0]

np.float64(152.0)

In [29]:
#Use `fillna` method to fill the missing values in `horsepower` column with the most frequent value from the previous step.
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].mode()[0])
df['horsepower'].median()

np.float64(152.0)

In [ ]:
### Q7. Sum of weights

# 1. Select all the cars from Asia
# 2. Select only columns `vehicle_weight` and `model_year`
# 3. Select the first 7 values
# 4. Get the underlying NumPy array. Let's call it `X`.
# 5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
# 6. Invert `XTX`.
# 7. Create an array `y` with values `[1100, 1300, 800, 900, 1000, 1100, 1200]`.
# 8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
# 9. What's the sum of all the elements of the result?

In [34]:
# 1. Select all the cars from Asia
# 2. Select only columns `vehicle_weight` and `model_year`
# 3. Select the first 7 values
# 4. Get the underlying NumPy array. Let's call it `X`.
# 5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
X = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7).to_numpy()
#print(X)
XTX = X.T @ X
print(XTX)
# 6. Invert `XTX`.

# Invert the matrix
XTX_inv = np.linalg.inv(XTX)

# Print the inverted matrix
print("Inverted XTX:\n", XTX_inv)

# 7. Create an array `y` with values `[1100, 1300, 800, 900, 1000, 1100, 1200]`.
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]
(2, 2)

In [38]:
# 6. Invert `XTX`.

# Invert the matrix
XTX_inv = np.linalg.inv(XTX)

# Print the inverted matrix
print("Inverted XTX:\n", XTX_inv)

Inverted XTX:
 [[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

In [39]:
# 7. Create an array `y` with values `[1100, 1300, 800, 900, 1000, 1100, 1200]`.
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [40]:
# 8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.

w = XTX_inv @ X.T @ y
print("Computed w:", w)

Computed w: [0.01386421 0.5049067 ]

In [41]:
# 9. What's the sum of all the elements of the result?
# Sum all elements of w
sum_w = np.sum(w)
print("Sum of all elements in w:", sum_w)

Sum of all elements in w: 0.5187709081074016